{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <input type='text' id="interval-picker" />

        <div class="chart2">
            <canvas id="chartDays" width="1280" height="200"></canvas>
        </div>

        <script>
            $('#datepicker').datepicker({})
        </script>

        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
            <dl>
                <dd><input type=text size=50 name=name>
                <dd><input type=submit value=Submit>
            </dl>
        </form>

        <div class="row">
            <table id="tasks">

            </table>
        </div>

        <div class="row" id="totals">

        </div>



        <div class="chart">
            <canvas id="chartCategory" width="1280" height="200"></canvas>
        </div>


        <div class="chart3">
            <canvas id="chartActivity" width="1280" height="200"></canvas>
        </div>

        <div class="chart4">
            <canvas id="chartTags" width="1280" height="200"></canvas>
        </div>
    {% endif %}
{% endblock %}